.order-card {
    border: 1px solid #d6d6d6;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 1px 1px 1px 1px #d6d6d6;
    transition: all 0.2s ease-in-out;
}

.order-card:hover {
    cursor: pointer;
    box-shadow: 4px 4px 2px 2px #d6d6d6;
}

.layout_padding {
    padding: 0 0 90px 0;
}

.btn-box {
    margin: 60px 0;
}
.online {
    color: greenyellow;
    font-weight: bold;
}
.offline {
    color: red;
    font-weight: bold;
}